@import '../../index.scss';

.sidebar {
    z-index: 1000000;
    width: 33%;
    background-color: #D9D9D9;
    height: 100vh;
    @include flex(unset, space-around, column);

    &_header {
        background-color: #EBBC84;

        section {
            padding: 5px 16px ;

            h1 {
                color: #811313;
                font-size: 30px;
                font-weight: 700;
                letter-spacing: 0.6px;
            }

            div {
                margin-top: 10px;
                color: #83092D;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 0.48px;
                padding-right: 60px;

                p:last-child {
                    text-align: right;
                    margin-top: 10px;
                }
            }
        }
    }

    &_search {
        padding: 8px 16px 10px;
        @include flex(center, space-between, row);
        
        &-input {
            position: relative;
            flex: 1;
            width: 80%;
            input {
                width: 100%;
                padding: 10px 40px 10px 16px;
                font-size: 16px;
                border-radius: 7px;
                border: 2px solid #ccc;
                background-color: #f7f5f5;

                &:focus {
                    border: 2px solid rgb(10, 10, 212);
                }
            }

            section {
                position: absolute;
                right: 10px;
                font-size: 20px;
                top: 50%;
                transform: translateY(-40%);
                cursor: pointer;
            }
        }

        &-turn {
            cursor: pointer;
            font-size: 32px;
            color: blue;
            margin-left: 20px;
            @include flex(center, center, row);
        }

    }

    &_content {
        flex: 1;
        padding: 10px 16px;
        max-height: 100%;

        &-wrapper {
            background-color: #fff;
            width: 100%;
            border-radius: 8px;
            padding: 10px 5px  10px 12px;
        }
    }

    &_footer {
        color: #040404;
        line-height: 16px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.26px;
        padding-left: 16px;
        margin: 8px 0;
        section {
            margin-left: 8px;
        }
    }
}