@import "../../index.scss";

.admin {
    @include flex(unset ,unset, row);
    height: 100%;
    width: 100%;
    position: relative;
    &_sidebar {
        padding: 10px 0px;
        width: 220px;
        height:100vh;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        background-color: #EBBC84;

        h2 {
            padding: 0 20px;
            color: #811313;
            letter-spacing: 0.6px;
        }

        &-navigation {
           padding: 30px 0px;
           color: #fffefe; 

           div {
            @include flex(center, unset, row);
            padding: 15px 15px;
            font-size: 18px;
            margin-bottom: 10px;
            cursor: pointer;
            border-bottom: 1px solid #e3e3e3;

            &:hover {
                background-color: #f4f3f3;
                color: black;
                border-radius:5px ;
            }

            p {
                flex: 1;
                margin-left: 10px;
            }
           }

           .active {
            color: black;
            background-color: rgb(123, 123, 242);
            border: 1px solid rgb(44, 44, 249);
            border-radius: 5px;
           }
        }
    }

    &_content {
        width: 100%;
        padding: 20px 20px 10px;
        background-color: #ece7e7;
        
        &-header {
            width: 100%;
            margin-bottom: 20px;
            background-color: #fff;
            padding: 5px;
            border-radius: 8px;
            
            div{
                width: 100%;
                padding-right: 25px;
                cursor: pointer;
                @include flex(center, flex-end, row);

                &:active {
                    opacity: 0.8;
                }

                section {
                    margin-right: 5px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 1px solid #cfc9c9;
    
    
                    img {
                        object-fit: cover;
                        overflow: hidden;
                        border-radius: 50%;
                    }
                }

                p {
                    font-size: 12px;
                    font-weight: 600;
                    max-width: 150px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

        }

        &-body {
            width: 100%;
            height: calc(100vh - 110px);
            background-color: #fff;
            border-radius: 10px;
            padding: 10px 25px;
        }

        &-detail {
            width: 100%;
            height: calc(100vh - 110px);
            background-color: #fff;
            border-radius: 10px;
            padding: 10px 25px;
        }
    }
}