@import "../../index.scss";

.admin {
    @include flex(unset ,unset, row);
    height: 100%;
    width: 100%;
    position: relative;

    &_sidebar {
        padding: 10px 0px;
        width: 220px;
        height:100vh;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        background-color: #EBBC84;

        h2 {
            padding: 0 20px;
            color: #811313;
            letter-spacing: 0.6px;
        }

        &-navigation {
           padding: 30px 0px;
           color: #fffefe; 

           div {
            @include flex(center, unset, row);
            padding: 15px 15px;
            font-size: 18px;
            margin-bottom: 10px;
            cursor: pointer;
            border-bottom: 1px solid #e3e3e3;

            &:hover {
                background-color: #f4f3f3;
                color: black;
                border-radius:5px ;
            }

            p {
                flex: 1;
                margin-left: 10px;
            }
           }

           .active {
            color: black;
            background-color: rgb(123, 123, 242);
            border: 1px solid rgb(44, 44, 249);
            border-radius: 5px;
           }
        }
    }

    &_content {
        width: 100%;
        padding: 20px 20px 10px;
        background-color: #ece7e7;
        
        &-header {
            width: 100%;
            margin-bottom: 20px;
            background-color: #fff;
            padding: 5px;
            border-radius: 8px;
            
            &-admin{
                width: 100%;
                padding-right: 25px;
                cursor: pointer;
                @include flex(center, flex-end, row);
                position: relative;

                div{
                    padding: 10px 8px;
                    border: 1px solid rgb(23, 23, 24);
                    border-radius: 50%;
                    color: blue;
                    font-weight: 600;
                    margin-left: 8px;

                    &:active {
                        opacity: 0.7;
                    }
                }

                p {
                    font-size: 14px;
                    font-weight: 600;
                }

                section {
                    position: absolute;
                    background-color: #fff;
                    padding: 15px 10px;
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
                    border-radius: 5px;
                    min-width: 100px;
                    text-align: center;
                    bottom: -60px;
                    z-index: 100000;
                    

                    &::before {
                        content: "";
                        position: absolute;
                        top: -10px; /* Điều chỉnh vị trí thanh nối */
                        right: 10px;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 20px solid #fff;
                    }

                    &:hover {
                        color: blue;
                        font-weight: 600;
                    }
                }

            }

        }

        &-body {
            width: 100%;
            height: calc(100vh - 110px);
            background-color: #fff;
            border-radius: 10px;
            padding: 10px 25px;
        }

        &-detail {
            width: 100%;
            height: calc(100vh - 110px);
            background-color: #fff;
            border-radius: 10px;
            padding: 10px 25px;
        }
    }
}