@import "../index.scss";

.changePassword {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    @include flex(center, center, row);
    width: 100vw;
    height: 100vh;

    &_container {
        background-color: #fff;
        padding:20px 30px;
        width: 40%;
        border-radius: 8px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);

        &-title {
            margin-bottom: 50px;
            @include  flex(center, space-between, row);
            
            h2 {
                color: rgb(211, 86, 40);
            }

            section {
                font-size: 28px;
                cursor: pointer;

                &:active {
                    opacity: 0.7;
                }
            }
        }

        &-wrapper {
            width: 100%;
            margin-bottom: 50px;

            &-input {
                @include flex(center, flex-start, row);
                margin-bottom: 25px;

                h4 {
                    font-size: 14px;
                    min-width: 140px;
                }

                div{
                    width: 100%;
                    @include flex(unset, unset, column);
                    
                    input {
                        padding: 8px 20px;
                        flex: 1;
                        border-radius: 5px;
                        border: 2px solid #ccc;
    
                        &:focus {
                            border: 2px solid blue;
                        }
                    }

                    p {
                        font-size: 12px;
                        color: red;
                        margin-top: 5px;
                        font-weight: 600;
                    }
                }

            }
        }

        &-btn {
            width: 100%;

            button {
                float: right;
                padding: 10px 25px;
                background-color: red;
                color: #fff5f5;
                border-radius: 5px;
                border: 1px solid rgb(163, 15, 15);
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;

                &:active {
                    opacity: 0.7;
                }
            }

            .disabled-btn {
                pointer-events: none;
                opacity: 0.6;
            }
        }
    }
}