@import "../index.scss";


.popupHover {
    padding: 10px 15px 20px;
    background: #f9f7f7;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar-thumb {
        background: #605e5e;
    }

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #e7e7e7;

    }

    &_icon {
        font-size: 20px;
        float: right;
        cursor: pointer;
        margin-left: 5px;
    }
    h3 {
        font-size: 16px;
    }

    img {
        width: 100%;
        margin: 10px 0;
    }

    p {
        font-size: 14px;
    }
}