@import "../../../../index.scss";

.poi_admin {
    margin-top: 20px;
    position: relative;

    div {
        width: 100%;
        @include flex(center, unset, row);
        border: 1px solid #626060;

        section {
            padding: 15px 10px  ;
            text-align: center;
            border-right: 1px solid #626060;
        }

        section:first-child {
            width: 50px;
        }

        section:nth-child(2) {
            width: 300px;
        }

        section:nth-child(3) {
            width: 150px;
           
        }

        section:nth-child(4) {
            width: 280px;
            white-space: nowrap;
            overflow: hidden;         
            text-overflow: ellipsis
        }

        section:nth-child(5) {
            width: 250px;
        }

        section:nth-child(6) {
            width: 220px;
        }
        

        span {
            @include flex(center,unset, row);
            font-size: 18px;
            margin-left: 25px;

            p {
                cursor: pointer;

                &:active {
                    opacity: 0.8;
                }
            }

            p:first-child {
                color: orange;
                font-size: 24px;
                margin-right: 25px;
            }

            p:nth-child(2) {
                color: red;
                font-size: 24px;
                margin-right: 25px;
            }

            p:nth-child(3) {
                color: blue;
            }

        }

    }
    
    &-body {
        max-height: calc(100vh - 300px);
        overflow-y: auto;
        height: 500px;
        div {
            height: 80px;

            section {
                @include flex(center, center, row);
                height: 100%;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

    }
   
    &-title {
        background-color: #cbc6c6;
    }
}