@import "../../index.scss";

.login {
    width: 100vw;
    height: 100vh;

    &_header {
        height: 70px;
        background-color: #EBBC84;
        padding: 0 32px;
        @include flex(center, space-between, row);

        h2 {
            color: #811313;
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 0.36px;
        }
    }

    &_content {
        height: calc(100vh - 70px);
        width: 100%;
        @include flex(center, center, row);
        background-color: rgba($color: #000000, $alpha: 0.8);

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(55, 53, 53, 0.35);
          border-radius: 5px;
        }

        &-container {
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
            background-color: #dbdada;
            width: 40%;
            min-height: 400px;
            border-radius: 6px;
            z-index: 10;
            padding: 20px 25px;
            @include flex(flex-start, unset, column);
            
            h2 {
                font-size: 26px;
                margin-bottom: 20px;
            }
            
            &-wrapper {
                padding: 5px 25px;
                width: 100%;
                position: relative;
                margin-bottom: 20px;
                
                .login_input-wrapper {
                    background-color: #e8e8e8;
                    padding: 20px 10px 50px;
                    

                    .login_input {
                        @include flex(flex-start, center, column);
                        margin-bottom: 20px;
                        margin-left: 20px;
                        margin-right: 15px;

                        p {
                            margin-bottom: 8px;
                        }

                        input {
                            width: 100%;
                            padding: 12px 15px;
                            border-radius: 5px;
                            border: 1px solid #ccc;
                        }

                        span {
                            color: red;
                            font-size: 12px;
                            margin-top: 5px;
                        }
                    }
                    
                }

                button {
                    position: absolute;
                    left: calc(50% - 26px);
                    padding: 26px 28px;
                    border-radius: 50%;
                    bottom: -30px;
                    font-size: 24px;
                    font-weight: 600;
                    border: none;
                    background-color: #e8e8e8;
                    cursor: pointer;
                    @include flex(center, center, row);

                    &:active {
                        background-color: #c5c3c3;
                    }

                    &:hover {
                        transform: scale(1.1);
                        border: 1px solid #c5c3c3;
                    }

                }

                .btn-disabled {
                    pointer-events: none;
                    opacity: 0.3;
                }   
            }

            .login_content-footer {
                width: 100%;
                padding: 5px 25px;
                @include flex(center, space-between, row);
                flex-direction: row-reverse;
                margin-bottom: 60px;
                
                &-link {
                    color: blue;
                    cursor: pointer;
                }
            }
        }
    }
}