@import "../../index.scss";

.villageDetail {
    padding-right: 3px;
    max-height: 500px;
    
    &_title {
        @include flex(center, space-between, row);
        padding: 5px 8px 12px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.9);

        h1 {
            color: #8C580B;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 0.26px;
        }
        
        section {
            margin-right: 5px;
            font-size: 22px;
            @include flex(center, center, row);
            
            span {
                cursor: pointer;
            }
        }
    }
    
    &_content {
        overflow-y: auto;
        max-height: 445px;

        &::-webkit-scrollbar-thumb {
            background: #747373;
        }
    
        &::-webkit-scrollbar {
            width: 8px;
        }
    
        &::-webkit-scrollbar-track {
            background: #e7e7e7;
    
        }

        &-info {
            font-size: 14px;
            background-color: #fff !important;
            border-radius: 8px;
            padding: 15px 8px;
            margin-bottom: 30px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

            section {
                @include flex(flex-start, unset, row);
                text-align: justify;

                p {
                    text-indent: 5px
                }
            }

            section:first-child {
                margin-bottom: 8px;
            }

            .villageDetail_content-history{
                position: relative;
                text-overflow: ellipsis;
                overflow: hidden;
                display: inline;

                h4 {
                    float: left;
                }

                p {
                    overflow: hidden;
                }
            }

            .villageDetail_content-more {
                margin-top: 5px;
                color: blue;
                margin-bottom: 10px;
                cursor: pointer;
            }

            &-img {
                margin-top: 8px;

                img {
                    margin-bottom: 15px;
                    height: 190px;
                    width: 100%;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                }
            }
        }

        &-product {
            font-size: 14px;
            background-color: #fff;
            border-radius: 8px;
            padding: 15px 8px 30px;
            margin-bottom: 30px;
            position: relative;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);


            &-wrapper {
                position: relative;
                
                div {
                    @include flex(center, unset, row);
                    margin-bottom: 20px;
                }

                section {
                    max-height:380px;
                    overflow-y: auto;
                    &::-webkit-scrollbar-thumb {
                        background: #605e5e;
                    }
                
                    &::-webkit-scrollbar {
                        width: 4px;
                    }
                
                    &::-webkit-scrollbar-track {
                        background: #e7e7e7;
                
                    }

                    .villageDetail_link-img {
                        position: relative;
                        img {
                            border: 1px solid #f4f1f1;
                            height: 190px;
                            width: 100%;
                            margin-bottom: 15px;
                            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
                        }

                        .popup_hover-img {
                            position: absolute;
                            bottom: 50px;
                            height: 400px;
                            right: -80px;
                            width: 300px;
                            background-color: #605e5e;
                            z-index: 3000;
                        }
                    }

                }

                span {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    height: 100px;
                    background: linear-gradient(to top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
                }
            }

            &-more {
                position: absolute;
                font-size: 28px;
                text-align: center;
                cursor: pointer;
                left: 45%;
                bottom: 8px;
            }
        }

        &-place {
            font-size: 14px;
            background-color: #fff;
            border-radius: 8px;
            padding: 15px 8px 30px;
            margin-bottom: 30px;
            position: relative;

            h4 {
                margin-bottom: 15px;
            }

            &-wrapper {
                max-height: 500px;
                overflow: auto;

                &::-webkit-scrollbar-thumb {
                    background: #605e5e;
                }
            
                &::-webkit-scrollbar {
                    width: 4px;
                }
            
                &::-webkit-scrollbar-track {
                    background: #e7e7e7;
            
                }

                .villageDetail_content-link-poi {
                    @include flex(center, center, column);
                    margin-bottom: 20px;
                    margin-right: 5px;

                    img {
                        height: 170px;
                        width: 100%;
                        margin-bottom: 8px;
                        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
                    }

                }
            }
        }

        &-proposed {
            font-size: 14px;
            background-color: #fff;
            border-radius: 8px;
            padding: 15px 8px 30px;
            margin-bottom: 15px;
            position: relative;

            h4 {
                margin-bottom: 15px;
            }

            &-wrapper {
                max-height: 400px;
                overflow-y: auto;
                padding-right: 5px;
                &::-webkit-scrollbar-thumb {
                    background: #605e5e;
                }
            
                &::-webkit-scrollbar {
                    width: 4px;
                }
            
                &::-webkit-scrollbar-track {
                    background: #e7e7e7;
                }

                section {
                    margin-bottom: 20px;

                    h5 {
                        font-size: 14px;
                        color: blue;
                        margin-bottom: 5px;
                    }

                    img {
                        height: 170px;
                        width: 100%;
                    }

                    div {
                        @include flex(center, flex-end, row);
                        color: red;
                        margin-top: 8px;
                        cursor: pointer;

                        section {
                            transform: translateY(45%);
                            font-size: 20px;
                            margin-left: 6px;
                        }

                        &:hover {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}